.first_block {
    border-radius: 0px 0px 10px 10px;
    margin-top: -25px;
    @media all and (max-width: 540px) {
        margin-top: 20px;
    }
    &__slider {
        border-radius: 10px;
        overflow: hidden;
    }
    &__block {
        min-height: 556px;
        display: flex !important;
        text-decoration: none;
        align-items: center;
        padding: 56px;
        padding-bottom: 110px;
        @media all and (max-width: 1023px) {
            min-height: 359px;
            padding: 60px 32px; 
            background-position: center !important;
        }
        @media all and (max-width: 540px) {
            min-height: 1px;
            padding: 30px 16px;    
        }
    }
    &__info {
        width: 50%;
        @media all and (max-width: 380px) {
            width: 65%;
        }
    }
    &__title {
        font-style: normal;
        font-weight: 800;
        font-size: 56px;
        line-height: 140%;
        color: #141716;
        margin-bottom: 16px;
        @media all and (max-width: 1023px) {
            font-size: 40px;
            margin-bottom: 16px;
            line-height: 120%;
        }
        @media all and (max-width: 540px) {
            margin-bottom: 4px;
            font-size: 16px;
        }
    }
    &__text {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        color: #999999;
        margin-bottom: 32px;
        @media all and (max-width: 1023px) {
            margin-bottom: 24px;
            font-size: 14px;
        }
        @media all and (max-width: 540px) {
            margin-bottom: 9px;
            font-size: 9px;
            line-height: 120%;
        }
    }
    .slick-prev {
        top: unset;
        transform: unset;
        left: 56px;
        bottom: 56px;
        z-index: 5;
        @media all and (max-width: 1023px) {
            display: none !important;
        }
    }
    .slick-next {
        top: unset;
        transform: unset;
        right: unset;
        left: 248px;
        bottom: 56px;
        z-index: 5;
        @media all and (max-width: 1023px) {
            display: none !important;
        }
    }
    .slick-dots {
        bottom: 76px;
        left: 128px;
        width: 98px;
        @media all and (max-width: 1023px) {
            bottom: 16px;
            left: 20px;
            right: 20px;
            width: 100%;
        }
    }
    &__btn {
        @media all and (max-width: 540px) {
            padding: 4px 12px;
            font-size: 10px;
        }
    }
}