body {
    box-sizing: border-box;
}
*,
::after,
::before {
    box-sizing: inherit;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'circe', sans-serif;
}
html,
body {
    margin: 0;
    padding: 0;
    background: #F3F5F7;
    height: 100%;
}
.ovh {
    overflow: hidden;
}
.wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    height: inherit;
}
.content {
    flex: 1 0 auto;
}
.footer {
    flex: 0 0 auto;
}
.center_block {
    max-width: 1340px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}
img {
    max-width: 100%;
    height: auto;
}
textarea {
    resize: none;
}
// scrollbar
/* width */
*::-webkit-scrollbar {
    width: 5px;
}
/* Track */
*::-webkit-scrollbar-track {
    background: #c4c4c4;
}
/* Handle */
*::-webkit-scrollbar-thumb {
    background: #8BC63E;
}
/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
    background: #8BC63E;
}
// scrollbar end

a {
    color: #8BC63E;    
}
.osmi_button {
    display: inline-block;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #8BC63E;
    border-radius: 4px;
    padding: 16px 24px;
    text-decoration: none;
    transition: all .3s ease-out;
    &:hover {
        background: #9CDD48;
    }
    &:active {
        background: #7CB433;
    }
    @media all and (max-width: 1023px) {
        padding: 12px 16px;
    }
    @media all and (max-width: 750px) {
        padding: 16px 24px;
    }
}
.slick-prev {
    font-size: 0;
    &:before {
        display: none;
    }
    width: 50px;
    z-index: 5;
    height: 50px;
    border-radius: 50%;
    background: #8BC63E url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.1405 0.463328C12.0007 0.163891 11.7726 0.0138905 11.4535 0.0116405C11.3045 0.010578 11.213 0.028703 11.1098 0.0796405C11.0008 0.133453 10.1894 0.971984 7.50042 3.80986C5.59261 5.8233 3.99371 7.52633 3.9473 7.59436C3.79364 7.81967 3.79364 8.16948 3.9473 8.3948C3.99371 8.46283 5.59261 10.1659 7.50042 12.1793C10.1894 15.0172 11.0008 15.8557 11.1098 15.9095C11.3002 16.0035 11.6047 16.0033 11.7846 15.909C12.1643 15.7101 12.3132 15.2224 12.1029 14.8662C12.0624 14.7977 10.5954 13.228 8.84299 11.378C7.09052 9.52805 5.65667 8.00548 5.65667 7.99458C5.65667 7.98367 7.09052 6.46111 8.84299 4.61114C10.5954 2.76114 12.0631 1.19023 12.1045 1.1202C12.2122 0.937703 12.228 0.650734 12.1405 0.463328Z' fill='white'/%3E%3C/svg%3E%0A") 50% no-repeat;
    &:hover {
        background: #7CB433 url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.1405 0.463328C12.0007 0.163891 11.7726 0.0138905 11.4535 0.0116405C11.3045 0.010578 11.213 0.028703 11.1098 0.0796405C11.0008 0.133453 10.1894 0.971984 7.50042 3.80986C5.59261 5.8233 3.99371 7.52633 3.9473 7.59436C3.79364 7.81967 3.79364 8.16948 3.9473 8.3948C3.99371 8.46283 5.59261 10.1659 7.50042 12.1793C10.1894 15.0172 11.0008 15.8557 11.1098 15.9095C11.3002 16.0035 11.6047 16.0033 11.7846 15.909C12.1643 15.7101 12.3132 15.2224 12.1029 14.8662C12.0624 14.7977 10.5954 13.228 8.84299 11.378C7.09052 9.52805 5.65667 8.00548 5.65667 7.99458C5.65667 7.98367 7.09052 6.46111 8.84299 4.61114C10.5954 2.76114 12.0631 1.19023 12.1045 1.1202C12.2122 0.937703 12.228 0.650734 12.1405 0.463328Z' fill='white'/%3E%3C/svg%3E%0A") 50% no-repeat;
    }
    &:active {
        background: #7CB433 url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.1405 0.463328C12.0007 0.163891 11.7726 0.0138905 11.4535 0.0116405C11.3045 0.010578 11.213 0.028703 11.1098 0.0796405C11.0008 0.133453 10.1894 0.971984 7.50042 3.80986C5.59261 5.8233 3.99371 7.52633 3.9473 7.59436C3.79364 7.81967 3.79364 8.16948 3.9473 8.3948C3.99371 8.46283 5.59261 10.1659 7.50042 12.1793C10.1894 15.0172 11.0008 15.8557 11.1098 15.9095C11.3002 16.0035 11.6047 16.0033 11.7846 15.909C12.1643 15.7101 12.3132 15.2224 12.1029 14.8662C12.0624 14.7977 10.5954 13.228 8.84299 11.378C7.09052 9.52805 5.65667 8.00548 5.65667 7.99458C5.65667 7.98367 7.09052 6.46111 8.84299 4.61114C10.5954 2.76114 12.0631 1.19023 12.1045 1.1202C12.2122 0.937703 12.228 0.650734 12.1405 0.463328Z' fill='white'/%3E%3C/svg%3E%0A") 50% no-repeat;
    }
    &.slick-disabled {
        background: #999999 url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.1405 0.463328C12.0007 0.163891 11.7726 0.0138905 11.4535 0.0116405C11.3045 0.010578 11.213 0.028703 11.1098 0.0796405C11.0008 0.133453 10.1894 0.971984 7.50042 3.80986C5.59261 5.8233 3.99371 7.52633 3.9473 7.59436C3.79364 7.81967 3.79364 8.16948 3.9473 8.3948C3.99371 8.46283 5.59261 10.1659 7.50042 12.1793C10.1894 15.0172 11.0008 15.8557 11.1098 15.9095C11.3002 16.0035 11.6047 16.0033 11.7846 15.909C12.1643 15.7101 12.3132 15.2224 12.1029 14.8662C12.0624 14.7977 10.5954 13.228 8.84299 11.378C7.09052 9.52805 5.65667 8.00548 5.65667 7.99458C5.65667 7.98367 7.09052 6.46111 8.84299 4.61114C10.5954 2.76114 12.0631 1.19023 12.1045 1.1202C12.2122 0.937703 12.228 0.650734 12.1405 0.463328Z' fill='white'/%3E%3C/svg%3E%0A") 50% no-repeat;
    }
    @media all and (max-width: 1023px) {
        width: 40px;
        height: 40px;
    }
}
.slick-next {
    font-size: 0;
    &:before {
        display: none;
    }
    width: 50px;
    height: 50px;
    z-index: 5;
    border-radius: 50%;
    background: #8BC63E url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.89027 15.5281C4.03006 15.8276 4.25818 15.9776 4.57724 15.9798C4.72627 15.9809 4.81781 15.9628 4.92099 15.9118C5.02999 15.858 5.84137 15.0195 8.53037 12.1816C10.4382 10.1682 12.0371 8.46513 12.0835 8.3971C12.2371 8.17178 12.2371 7.82197 12.0835 7.59666C12.0371 7.52863 10.4382 5.82559 8.53037 3.81216C5.84137 0.974283 5.02999 0.135751 4.92099 0.0819388C4.73056 -0.0120926 4.42612 -0.0118732 4.24615 0.082408C3.86646 0.281314 3.71762 0.769095 3.92793 1.12522C3.9684 1.19375 5.43537 2.76344 7.1878 4.61344C8.94027 6.46341 10.3741 7.98597 10.3741 7.99688C10.3741 8.00778 8.94027 9.53035 7.1878 11.3803C5.43537 13.2303 3.96768 14.8012 3.92634 14.8713C3.81856 15.0538 3.80281 15.3407 3.89027 15.5281Z' fill='white'/%3E%3C/svg%3E%0A") 50% no-repeat;
    &:hover {
        background: #7CB433 url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.89027 15.5281C4.03006 15.8276 4.25818 15.9776 4.57724 15.9798C4.72627 15.9809 4.81781 15.9628 4.92099 15.9118C5.02999 15.858 5.84137 15.0195 8.53037 12.1816C10.4382 10.1682 12.0371 8.46513 12.0835 8.3971C12.2371 8.17178 12.2371 7.82197 12.0835 7.59666C12.0371 7.52863 10.4382 5.82559 8.53037 3.81216C5.84137 0.974283 5.02999 0.135751 4.92099 0.0819388C4.73056 -0.0120926 4.42612 -0.0118732 4.24615 0.082408C3.86646 0.281314 3.71762 0.769095 3.92793 1.12522C3.9684 1.19375 5.43537 2.76344 7.1878 4.61344C8.94027 6.46341 10.3741 7.98597 10.3741 7.99688C10.3741 8.00778 8.94027 9.53035 7.1878 11.3803C5.43537 13.2303 3.96768 14.8012 3.92634 14.8713C3.81856 15.0538 3.80281 15.3407 3.89027 15.5281Z' fill='white'/%3E%3C/svg%3E%0A") 50% no-repeat;
    }
    &:active {
        background: #7CB433 url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.89027 15.5281C4.03006 15.8276 4.25818 15.9776 4.57724 15.9798C4.72627 15.9809 4.81781 15.9628 4.92099 15.9118C5.02999 15.858 5.84137 15.0195 8.53037 12.1816C10.4382 10.1682 12.0371 8.46513 12.0835 8.3971C12.2371 8.17178 12.2371 7.82197 12.0835 7.59666C12.0371 7.52863 10.4382 5.82559 8.53037 3.81216C5.84137 0.974283 5.02999 0.135751 4.92099 0.0819388C4.73056 -0.0120926 4.42612 -0.0118732 4.24615 0.082408C3.86646 0.281314 3.71762 0.769095 3.92793 1.12522C3.9684 1.19375 5.43537 2.76344 7.1878 4.61344C8.94027 6.46341 10.3741 7.98597 10.3741 7.99688C10.3741 8.00778 8.94027 9.53035 7.1878 11.3803C5.43537 13.2303 3.96768 14.8012 3.92634 14.8713C3.81856 15.0538 3.80281 15.3407 3.89027 15.5281Z' fill='white'/%3E%3C/svg%3E%0A") 50% no-repeat;
    }
    &.slick-disabled {
        background: #999999 url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.89027 15.5281C4.03006 15.8276 4.25818 15.9776 4.57724 15.9798C4.72627 15.9809 4.81781 15.9628 4.92099 15.9118C5.02999 15.858 5.84137 15.0195 8.53037 12.1816C10.4382 10.1682 12.0371 8.46513 12.0835 8.3971C12.2371 8.17178 12.2371 7.82197 12.0835 7.59666C12.0371 7.52863 10.4382 5.82559 8.53037 3.81216C5.84137 0.974283 5.02999 0.135751 4.92099 0.0819388C4.73056 -0.0120926 4.42612 -0.0118732 4.24615 0.082408C3.86646 0.281314 3.71762 0.769095 3.92793 1.12522C3.9684 1.19375 5.43537 2.76344 7.1878 4.61344C8.94027 6.46341 10.3741 7.98597 10.3741 7.99688C10.3741 8.00778 8.94027 9.53035 7.1878 11.3803C5.43537 13.2303 3.96768 14.8012 3.92634 14.8713C3.81856 15.0538 3.80281 15.3407 3.89027 15.5281Z' fill='white'/%3E%3C/svg%3E%0A") 50% no-repeat;
    }
    @media all and (max-width: 1023px) {
        width: 40px;
        height: 40px;
    }
}
.slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: unset;
    z-index: 5;
    li {
        width: auto;
        height: auto;
        padding: 0;
        margin: 0;
        button {
            font-size: 0;
            width: 10px;
            height: 10px;
            padding: 0;
            margin: 0;
            margin-left: 6px;
            margin-right: 6px;
            border-radius: 50%;
            background: #F5F5F5;
            border: 1px solid #D2D2D2;
            transition: all .3s ease-out;
            &:before {
                display: none;
            }
        }
        &.slick-active {
            button {
                background: #8BC63E;
                border-color: #8BC63E;
            }
        }
    }
}