.footer {
    padding-bottom: 37px;
    @media all and (max-width: 1023px) {
        padding-bottom: 32px;
    }
    @media all and (max-width: 750px) {
        padding-bottom: 20px;
    }
    &__in {
        background: #1A1A1A;
        border-radius: 10px;
        @media all and (max-width: 750px) {
            padding: 40px 20px;
        }
    }
    &__top {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 40px;
        padding-bottom: 27px;
        @media all and (max-width: 1023px) {
            padding: 30px;
        }
        @media all and (max-width: 750px) {
            flex-direction: column;
            align-items: center;
            padding: 0;
            padding-bottom: 24px;
        }
    }
    &__logo {
        flex: 0 0 170px;
        @media all and (max-width: 1023px) {
            flex: 0 0 148px;
        }
        @media all and (max-width: 750px) {
            flex: none;
            margin-left: auto;
            margin-right: auto;
            max-width: 170px;
            width: 100%;
            margin-bottom: 16px;
        }
    }
    &__menu {
        max-width: 140px;
        width: 100%;
        margin-left: 60px;
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;
            li {
                width: 50%;
                a {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 21px;
                    color: #fff;
                    text-decoration: none;
                    display: inline-block;
                    margin-bottom: 16px;
                    &:hover {
                        text-decoration: underline;
                    }
                    @media all and (max-width: 1023px) {
                        margin-bottom: 8px;
                    }
                    @media all and (max-width: 750px) {
                        margin-bottom: 12px;
                        display: inline-block;
                        font-size: 16px;
                    }
                }
                @media all and (max-width: 750px) {
                    width: 100%;
                    text-align: center;
                }
            }
        }
        @media all and (max-width: 1023px) {
            margin-right: 10px;
            margin-left: 16px;
        }
    }
    &__contacts {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 0 auto;
        @media all and (max-width: 750px) {
            margin-top: 4px;
            align-items: center;
            margin-bottom: 16px;
        }
    }
    &__tel {
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        color: #FFFFFF;
        margin-bottom: 16px;
        display: inline-block;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
        @media all and (max-width: 1023px) {
            margin-bottom: 8px;
            font-size: 14px;
        }
        @media all and (max-width: 750px) {
            font-size: 16px;
            margin-bottom: 12px;
        }
    }
    &__mail {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        color: #FFFFFF;
        display: inline-block;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
        @media all and (max-width: 1023px) {
            font-size: 14px;
        }
        @media all and (max-width: 750px) {
            font-size: 16px;
        }
    }
    &__reg {
        @media all and (max-width: 1023px) {
            margin-left: 10px;
        }
    }
    &__bottom {
        padding: 19px 40px;
        border-top: 1px solid #303030;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media all and (max-width: 1023px) {
            flex-direction: column;
            align-items: flex-start;
            padding: 20px 30px;
        }
        @media all and (max-width: 750px) {
            padding: 0;
            padding-top: 24px;  
            align-items: center;
        }
    }
    &__copy {   
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: #FFFFFF;
        max-width: 260px;
        width: 100%;
        @media all and (max-width: 1023px) {
            max-width: 100%;
            font-size: 12px;
            margin-bottom: 12px;
        }
        @media all and (max-width: 750px) {
            text-align: center;
            margin-bottom: 16px;
        }
    }
    &__links {
        width: calc(100% - 270px);
        @media all and (max-width: 1023px) {
            width: 100%;
        }
        @media all and (max-width: 750px) {
            width: 100%;
        }
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;
            @media all and (max-width: 1023px) {
                justify-content: flex-start;
            }
            @media all and (max-width: 750px) {
                flex-direction: column;
                align-items: center;
            }
            li {
                a {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 21px;
                    color: #fff;
                    text-decoration: none;
                    margin-left: 24px;
                    display: inline-block;
                    &:hover {
                        text-decoration: underline;
                    }
                    @media all and (max-width: 1023px) {
                        margin-left: 0;
                        font-size: 12px;
                        margin-right: 24px;
                    }
                    @media all and (max-width: 750px) {
                        text-align: center;
                        line-height: 140%;
                        margin-right: 0;
                    }
                }
                @media all and (max-width: 750px) {
                    &:not(:last-child) {
                        a {
                            margin-bottom: 16px;
                        }
                    }
                }
            }
        }
    }
}